{% extends "base.html" %}

{% load naloga_v_html %}

{% block naslov %}Delovni list - {{ delovni_list.naslov }}{% endblock %}

{% block vsebina %}
<div class="container is-narrow">

    <div class="row">
        <div class="col-md-8">
            <h2>{{ delovni_list.naslov }}</h2>
            <p>{{ delovni_list.opis }}</p>
        </div>
        <div class="col-md-4">
            <div class="text-md-right">
                <a class="btn btn-sm btn-primary" href="{% url 'naloge:urejanje_delovnega_lista' delovni_list.id %}">
                    <i class="material-icons material-icons-button">create</i>
                    Uredi
                </a>
                <a class="btn btn-sm btn-primary" href="{% url 'naloge:generiraj_delovni_list' delovni_list.id %}">
                    <i class="material-icons material-icons-button">get_app</i>
                    Prenesi
                </a>
            </div>
        </div>
    </div>
    

    <div id="naloge" class="mb-5">
        {% for naloga in naloge %}
            <div class="naloga mt-3">
                {{ naloga | naloga_v_html }}
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}