{% extends "base.html" %}

{% load humanize %}

{% block naslov %}Moji delovni listi{% endblock %}

{% block vsebina %}
<div class="container is-narrow">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Moji delovni listi</h2>
        <div>
            <a class="btn btn-sm btn-primary" href="{% url 'naloge:ustvari_delovni_list' %}">
                <i class="material-icons material-icons-button">create</i>
                Ustvari
            </a>
        </div>
    </div>
    <p>Spodaj si lahko ogledate delovne liste, ki ste jih ustvarili.</p>

    <ul class="list-group">
        {% for delovni_list in delovni_listi %}
            <a href="{% url 'naloge:podrobnosti_delovnega_lista' delovni_list.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between flex-column flex-sm-row">
                    <div><strong>{{ delovni_list.naslov }}</strong></div>
                    <!-- Datum zadnje posodobitve delovnega lista -->
                    <div class="text-muted">Posodobljeno {{ delovni_list.updated_at | naturaltime }}</div>
                </div>
            </a>
        {% empty %}
            <p>Trenutno nimate še nobenega delovnega lista.</p>
        {% endfor %}
    </ul>

</div>
{% endblock %}