{% extends "base.html" %}

{% load humanize %}

{% block naslov %}Moji delovni listi{% endblock %}

{% block vsebina %}
<div class="container is-narrow">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Moji delovni listi</h2>
        <div>
            <a class="btn btn-sm btn-primary" href="{% url 'naloge:ustvari_delovni_list' %}">
                <i class="material-icons material-icons-button">create</i>
                Ustvari
            </a>
        </div>
    </div>
    <p>Spodaj si lahko ogledate delovne liste, ki ste jih ustvarili.</p>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <ul class="list-group">
        {% for delovni_list in delovni_listi %}
            <a href="{% url 'naloge:podrobnosti_delovnega_lista' delovni_list.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between flex-column flex-sm-row">
                    <div><strong>{{ delovni_list.naslov }}</strong></div>
                    <!-- Datum zadnje posodobitve delovnega lista -->
                    <div class="text-muted">Posodobljeno {{ delovni_list.updated_at | naturaltime }}</div>
                </div>
            </a>
        {% empty %}
            <p>Trenutno nimate še nobenega delovnega lista.</p>
        {% endfor %}
    </ul>

    {% if delovni_listi.has_other_pages %}
        <nav aria-label="Navigacija po seznamu delovnih listov" class="mt-4">
            <ul class="pagination justify-content-center">

                {% if delovni_listi.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?stran={{ delovni_listi.previous_page_number }}">Prejšnja</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Prejšnja</a>
                    </li>
                {% endif %}

                
                {% for object in delovni_listi.paginator.page_range %}
                    <li class="page-item {% if forloop.counter == delovni_listi.number %}active{% endif %}">
                        <a class="page-link" href="?stran={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}

                {% if delovni_listi.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?stran={{ delovni_listi.next_page_number }}">Naslednja</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Naslednja</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

</div>
{% endblock %}