{% extends "base.html" %}

{% load naloga_v_html %}

{% block naslov %}Urejanje {{ delovni_list.naslov }}{% endblock %}

{% block vsebina %}
<div class="container is-narrow">

    <div id="podatki-dokumenta">
        <label for="naslov-dokumenta" class="special-label">Osnovni podatki delovnega lista</label>
        
        <div class="form-group">
            <input type="text" class="form-control title-input-field" id="naslov-dokumenta" name="naslov_dokumenta" value="{{ delovni_list.naslov }}">
        </div>
    
        <div class="form-group">
            <textarea name="opis_dokumenta" id="opis-dokumenta" rows="4" class="form-control">{{ delovni_list.opis }}</textarea>
        </div>

    </div>

    <label class="special-label mt-4">Naloge</label>

    <div id="naloge" class="mb-5">
        {% for naloga in naloge %}
            <div class="naloga mt-3">
                <div class="primeri">
                    {{ naloga.generator_nalog | naloga_v_html }}
                </div>
            </div>
        {% endfor %}
        <div id="dodaj-nalogo" class="text-center mt-4">
            <button class="btn btn-primary align-self-md-center">Dodaj nalogo</button>
        </div>
    </div>

</div>
{% endblock %}