{% extends "base.html" %}

{% load naloga_v_html %}
{% load static %}
{% load crispy_forms_tags %}

{% block naslov %}Urejanje {{ delovni_list.naslov }}{% endblock %}

{% block glava %}
    <script src="{% static 'naloge/js/urejevalnik.js' %}"></script>
{% endblock %}

{% block vsebina %}
<div class="container is-narrow">

    <div id="podatki-dokumenta" class="naloga">

        <form action="" method="post">
            {% csrf_token %}
            <label for="naslov-dokumenta" class="special-label">Osnovni podatki delovnega lista</label>
        
            <div class="form-group">
                <input type="text" class="form-control title-input-field" id="naslov-dokumenta" name="{{ delovni_list_form.naslov.name }}" value="{{ delovni_list_form.naslov.value }}">
            </div>
        
            <div class="form-group">
                <textarea name="{{ delovni_list_form.opis.name }}" id="opis-dokumenta" rows="4" class="form-control">{{ delovni_list_form.opis.value }}</textarea>
            </div>

            <div class="text-right mb-5">
                <a href="{% url 'naloge:podrobnosti_delovnega_lista' delovni_list.id %}" class="btn btn-light align-self-md-center">
                    Prekliči
                </a>
                <button type="submit" class="btn btn-primary align-self-md-center">
                    <span class="material-icons material-icons-button">save</span>
                    Shrani podatke
                </button>
            </div>
        </form>

    </div>

    <label class="special-label mt-4">Naloge</label>

    <div id="naloge" class="mb-3">
        {% for naloga in delovni_list.naloge.all %}
            <div class="naloga">

                <form action="{% url 'naloge:uredi_nalogo' delovni_list.id %}" method="post" class="uredi-nalogo">
                    {% csrf_token %}
                    <input type="hidden" name="naloga_id" value="{{ naloga.id }}">
                    <input type="hidden" name="" value="{{ naloga.id }}">
                    <input type="hidden" name="naloga_navodila" value="{{ naloga.navodila }}">
                    <input type="hidden" name="action" value="">
                    <div class="orodna-vrstica" id="orodna-vrstica">
                        <!-- Akcijski gumbi -->
                        <div class="gumb" data-toggle="tooltip" data-placement="left" title="Odstrani nalogo">
                            <button type="submit" value="odstrani_nalogo"><span class="material-icons">delete</span></button>
                        </div>

                        <div class="gumb" data-toggle="tooltip" data-placement="left" title="Premakni gor">
                            <button type="submit" value="premakni_gor"><span class="material-icons">keyboard_arrow_up</span></button>
                        </div>

                        <div class="gumb" data-toggle="tooltip" data-placement="left" title="Premakni dol">
                            <button type="submit" value="premakni_dol"><span class="material-icons">keyboard_arrow_down</span></button>
                        </div>

                        <div class="gumb" data-toggle="tooltip" data-placement="left" title="Ustvari nove primere">
                            <button type="submit" value="ponovno_generiraj"><span class="material-icons">loop</span></button>
                        </div>

                        <div class="gumb" data-toggle="tooltip" data-placement="left" title="Uredi nalogo">
                            <button type="submit" value="uredi_nalogo"><span class="material-icons">edit</span></button>
                        </div>
                    </div>
                </form>

                <div class="primeri">
                    {{ naloga.generator_nalog | naloga_v_html }}
                </div>

                <div class="uredi-nalogo-obrazec" style="display: none;">
                    {{ naloga | naloga_urejanje_obrazec | crispy }}
                </div>

                <div class="text-center">
                    <form action="{% url 'naloge:uredi_nalogo' delovni_list.id %}" method="post" class="uredi-nalogo">
                        {% csrf_token %}
                        <input type="hidden" name="naloga_id" value="{{ naloga.id }}">
                        <input type="hidden" name="action" value="dodaj_primer">
                        <button type="submit" class="btn btn-light btn-sm">
                            <span class="material-icons material-icons-button">add</span>
                            Dodaj primer
                        </button>
                    </form>
                </div>
                
            </div>
        {% endfor %}
    </div>

    <div id="dodaj-nalogo" class="text-center mb-5">
        <button class="btn btn-primary align-self-md-center" data-toggle="modal" data-target="#dodaj-nalogo-popup">
            <span class="material-icons material-icons-button">add</span>
            Dodaj nalogo
        </button>
    </div>

</div>

<div class="modal fade" id="uredi-nalogo-popup" tabindex="-1" role="dialog" aria-labelledby="uredi-nalogo-naslov" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="uredi-nalogo-naslov">Uredi nalogo</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'naloge:dodaj_nalogo' delovni_list.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body" id="uredi-nalogo-form">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Prekliči</button>
                    <button type="submit" class="btn btn-primary">Shrani spremembe</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="dodaj-nalogo-popup" tabindex="-1" role="dialog" aria-labelledby="dodaj-nalogo-naslov" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="dodaj-nalogo-naslov">Dodaj nalogo</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'naloge:dodaj_nalogo' delovni_list.id %}" method="post" id="naloga-form">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="row">

                        <script>
                            const NAVODILA = {{ navodila | safe }};
                        </script>

                        <div class="col-8">
                            <div class="form-group">
                                <label for="vrsta-naloge">Vrsta naloge</label>
                                <select class="form-control" id="vrsta-naloge" name="{{ naloga_form.generator.name }}">
                                    {% for key, value in naloga_form.generator.field.choices %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="stevilo-primerov">Število primerov</label>
                                <input type="number" class="form-control" id="stevilo-primerov" name="{{ naloga_form.stevilo_primerov.name }}" value="{{ naloga_form.stevilo_primerov.value }}">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="navodila">Navodila naloge</label>
                        <textarea class="form-control" id="navodila" rows="3" name="{{ naloga_form.navodila.name }}"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Prekliči</button>
                    <button type="submit" class="btn btn-primary">Dodaj nalogo</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}