{% extends "template.html" %}

{% block naslov %} Test {{ test.naslov }} {% endblock %}

{% block vsebina %}

    <div id="uvod" class="uk-margin-large">
        <h2 class="uk-heading-bullet">Test <strong>{{ test.naslov }}</strong></h1>
        <p>{{ test.opis }}</p>
    </div>

    <div id="naloge">
        <div class="naloga uk-margin-large">
            {% for naloga in naloge %}
                {% include naloga.ime_predloge with naloga=naloga indeks=forloop.counter %}
            {% endfor %}
        </div>
    </div>

{% endblock %}