{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 600px;">

    <h2 class="mb-3">{% trans "Reset password" %}</h2>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            <input type="text" name="{{ form.email.html_name }}" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="email" aria-describedby="email-errors" value="{{ form.email.value | default_if_none:'' }}">
            <small id="email-errors" class="invalid-feedback">{{ form.email.errors }}</small>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        <div class="text-center mt-4">
            <input type="submit" class="btn button-secondary" value="{% trans 'Reset my password' %}" />
        </div>

    </form>

</div>

{% endblock %}