{% load static %}
<footer class="bg-light mt-3">
    <div class="container">
            <div class="d-flex justify-content-between">

            <a href="http://www.mk.gov.si/" target="_blank">
                <div class="sponsor-logo-footer">
                    <img class="img-fluid-block" src="{% static '/naloge/images/logo-mk-rs-cb.png' %}" alt="RS-Ministrstvo za kulturo">
                </div>
            </a>

            <a href="https://www.zrc-sazu.si/" target="_blank">
                <div class="sponsor-logo-footer">
                    <img class="img-fluid-block" src="{% static '/naloge/images/logo-zrc-cb.png' %}" alt="ZRC-SAZU">
                </div>
            </a>
            
            <a href="http://ec.europa.eu/esf/home.jsp?langId=sl" target="_blank">
                <div class="sponsor-logo-footer">
                    <img class="img-fluid-block" src="{% static '/naloge/images/logo-eu-ess-cb.png' %}" alt="EU-Evropski socialni sklad">
                </div>
            </a>
        </div>
        
        <p class="text-center">
            <small class="text-muted">Projekt <span class="font-italic">Portal Franček, Jezikovna svetovalnica za učitelje slovenščine in Šolski slovar slovenskega jezika</span>
            sofinancirata Republika Slovenija in Evropska unija iz Evropskega socialnega sklada.</small>
        </p>
    </div>
</footer>