.is-narrow {
    max-width: 700px;
}

.special-label {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    display: block;
    letter-spacing: 4px;
}

.title-input-field {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: 700;
}

/* Popravek pisave za tooltipe, saj je na Chrome bug, ki prikaze moten tekst */
.tooltip {
    font-family: Arial,sans-serif !important;
}

/* Prikaz naloge na strani */
.naloga {
    margin-top: 2rem;
    padding: 2em;
    background-color: white;
    position: relative;
}

.naloga .orodna-vrstica {
    position: absolute;
    right: -30px; top: 0;
    margin-right: -16px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 4px;
}

@media only screen and (max-width: 800px) {
    .naloga .orodna-vrstica {
        /* Ce je velikost ekrana pod 800px, naj se orodna vrstica prikaze NAD
        nalogo in ne na desni strani */
        right: 0; top: -30px;
        margin-top: -16px;
        margin-right: 0;
        flex-direction: row;
        padding: 4px 16px;
    }

    .naloga {
        margin-top: 5rem;
    }
}

.naloga .orodna-vrstica .gumb {
    width: 30px; height: 30px;
    line-height: 30px;
    color: #2c3e50;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.naloga .orodna-vrstica .gumb:hover {
    background: #fcfcfc;
    border-color: #95a5a6;
}

.naloga .orodna-vrstica .gumb .material-icons {
    font-size: 1rem;
}

.naloga .orodna-vrstica .gumb button {
    background: none;
    width: 100%;
}

/* Seznam primerov v nalogi ima crke namesto pik */
.naloga ul {
    list-style-type: lower-alpha;
}

.naloga .primer {
    position: relative;
}

.naloga .odstrani-primer {
    float: right;
    cursor: pointer;
}

/* Posebno stiliranje ikon znotraj gumbov - centrira in doda razmik na desni
strani ikone (pred tekstom gumba) */
.material-icons-button {
    font-size: .875rem !important;
    margin-right: 0.2em;
    position: inherit;
    vertical-align: middle;
    margin-top: -4px;
}

.btn-orange {
    background-color: #ff8300;
    border-color: #f37e00;
    color: #ffffff;
}

.btn-orange:hover {
    color: #ffffff;
    background-color: #ff9320;
    border-color: #ff8300;
}

.btn-orange:focus {
    color: #ffffff;
    background-color: #ff8300;
    border-color: #ff8300;
    box-shadow: 0 0 0 0.2rem rgba(255, 131, 0, .5);
}